@import './media.scss';

.appPageWrapper {
    height: 100%;
    overflow-y: scroll;
    .appPageProductList{
        display: grid;
        grid-template-columns: repeat(3, calc(100% /3));
        align-items: start;
        justify-items: stretch;
        align-content: center;
        justify-content: start;
        transition: grid-template-columns 250ms;
    
        @include xs() {
            grid-template-columns: repeat(1, 100%);
        }
    
        @include sm() {
            grid-template-columns: repeat(2, 50%);
        }
    }
}