@import './theme.scss';
.badge {
    position:absolute;
    border-radius: 99999px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: .8rem;
    background-color: Theme('red', 300);
    right: -.5rem;
    top: -.3rem;
}