@import './theme.scss';
@import './rounded.scss';

.buttonGroup {
    @include rounded(xl);
    @include light(){
        background-color: color('slate', 200);
    }
    @include dark(){
        background-color: color(zink, 600);
    }
    margin: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: .3rem;
    button {
        margin: .3rem;
    }
}