@import './theme.scss';

@mixin buttonBaseStyle(){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: .5rem;
    border-radius: .5rem;
    position: relative;
    & * {
        display: flex;
    }
}

.primaryButton{
    @include buttonBaseStyle();
    border-style: none;
    background-color: Theme('slate', 500);
    transition: background-color 250ms;
    &:hover,
    &:focus,
    &:active {
        background-color: Theme('slate', 400);
    }
    
}

.secondaryButton{
    @include buttonBaseStyle();
    border-style: solid;
    border-color: Theme('slate', 500);
    color: Theme('slate', 500);
    background-color: Theme('slate', 50);
    transition: background-color 250ms;
    &:hover,
    &:focus,
    &:active {
        background-color: Theme('slate', 300);
    }
}