@import './theme.scss';

.checkoutWrapper {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: color(slate, 100);
}