@import './theme.scss';

@mixin deviderDefaults(){
    display: flex;
    border: 1px solid Theme('slate', 500);
}

.verticalDevider{
    @include deviderDefaults();
    width: 1px;
    height: 100%;
}

.horizontalDevider{
    @include deviderDefaults();
    width: 100%;
    height: 1px;
}