@import './theme.scss';
$rounded-full: 99999px;


@mixin children(){
    .headerLinkIcon {
        display: flex;
        padding:2px;
        position: relative;
    }
    .headerLinkText {
        display: flex;
        padding: 2px;
    }
}

@mixin headerLinkkDefaults(){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    transition: background-color 250ms;
    width: 100%;
    height: 100%;
    user-select: none;
    text-decoration: none;
}

.headerLinkWrapper{
    @include headerLinkkDefaults();
    color: Theme('slate', 600);
    cursor: pointer;
    &:hover,
    &:focus,
    &:active {
        background-color: Theme('slate', 300);
    }
    @include children();
}

.selectedLinkWrapper{
    background-color: Theme('slate', 600);
    color: Theme('slate', 200);
    cursor: pointer;
    @include children();
    @include headerLinkkDefaults();
}
