@import './theme.scss';

.headerContainer{
    background-color: Theme('slate', 100);
    display: flex;
    justify-content: center;
    align-items: center;
    .headerWrapper {
        margin: 5px;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: Theme('slate', 200);
        border-radius: 15px;
    }
}