@import './theme.scss';

.headerContainer{
    background-color: Theme('slate', 100);
    display: flex;
    justify-content: center;
    align-items: center;
    .headerWrapper {
        margin: .5rem;
        display: flex;
        flex-grow: 1;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: Theme('slate', 200);
        border-radius: 1rem;
    }
}