@import './theme.scss';

html,body{
    margin:0;
}

@font-face { 
    font-family: OpenSans;
    font-style: normal;
    font-size: medium; 
    src: url('../fonts/Open_Sans/static/OpenSans-Medium.ttf'); 
}
@font-face { 
    font-family: OpenSans;
    font-style: normal;
    font-size: medium; 
    font-weight: bold;
    src: url('../fonts/Open_Sans/static/OpenSans-Bold.ttf'); 
}

@font-face { 
    font-family: OpenSans;
    font-style: normal;
    font-size: medium; 
    font-weight: 100;
    src: url('../fonts/Open_Sans/static/OpenSans-Light.ttf'); 
}

@font-face { 
    font-family: OpenSans;
    font-style: normal;
    font-size: medium; 
    font-weight: 300;
    src: url('../fonts/Open_Sans/static/OpenSans-Regular.ttf'); 
}

body{
    font-family: 'OpenSans', sans-serif;
    font-size: medium;
    background-color: Theme("slate", 200);
    height: 100vh;
    #root {
        display:flex;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    overflow: hidden;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: #4f431d;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  
  
  @media (prefers-color-scheme: light) {}