@import './theme.scss';

.productCardBox{
    width: calc(90% / 3);
    border-radius: 1rem;
    background-color: Theme('slate', 50);
    padding: 10px;
    flex-direction: column;
    .productCardWrapper{
        display: flex;
        flex-direction: column;
    }
}