@import './media.scss';

.profileCardWrapper {
    small {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow:hidden;
        display:inline-block;
    }
}